@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model AlloyTraining.Models.ViewModels.ContentFolderViewModel

<h4>@Model.CurrentFolderViewModel.Name folder contains @Model.ItemsCountViewModel items.</h4>