ol.roman-numbering {
    list-style: none;
}

    ol.roman-numbering li {
        counter-increment: roman-counter;
    }

        ol.roman-numbering li::before {
            content: "(" counter(roman-counter, lower-roman) "). ";
        }

ol.awesome-numbering {
    max-width: 350px;
    counter-reset: awesome-counter;
    list-style: none;
    padding-left: 40px;
}

    ol.awesome-numbering li {
        margin: 0 0 0.5rem 0;
        counter-increment: awesome-counter;
        position: relative;
    }

        ol.awesome-numbering li::before {
            content: counter(awesome-counter);
            color: #fcd000;
            font-size: 1.5rem;
            font-weight: bold;
            position: absolute;
            --size: 32px;
            left: calc(-1 * var(--size) - 10px);
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            top: 0;
            transform: rotate(-10deg);
            background: black;
            border-radius: 50%;
            text-align: center;
            box-shadow: 1px 1px 0 #999;
        }
